@font-face {
  font-family: jost;
  src: url(/public/fonts/jost-600.ttf);
}
.markdown {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  margin-left: 100px;
}
.markdown > h1 {
  font-size: 2.5rem;
  font-family: "jost";
}
.markdown > p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 35px;
  line-height: 27px;
  color: #999999;
}

.test > a {
  text-decoration: none;
  color: #000;
}
.markdown > p > a {
  text-decoration: #b2b2b2 underline 1px;
  text-underline-position: under;
  color: #252525;
  cursor: pointer;
}
.markdown > p > a > img {
  width: 18px;
  margin-bottom: -2px;
}
.markdown > p > a:hover {
  transition: all 0.7s;
  text-decoration: #000 underline 1px;
}
.markdown > h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 80px;
  color: #b2b2b2;
}
.dark-btn {
  float: right;
}

@media screen and (max-width: 600px) {
  body {
    width: 310px;
    height: auto;
  }
  .markdown {
    width: 250px;
    height: auto;
  }

  .markdown > h1 {
    font-size: 33px;
    margin-left: -70px;
    font-family: "jost";
  }
  .markdown > p {
    /* font-size: 1.1rem; */
    font-size: 16px;
    margin-left: -70px;
  }
  .markdown > h2 {
    font-size: 0.9rem;
    margin-left: -70px;
    margin-bottom: 15px;
  }
  .markdown > p > a > img {
    width: 14px;
    height: 14px;
  }
}
