.markdown {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  margin-left: 100px;
}
.markdown > h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
.markdown > p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 35px;
  line-height: 27px;
  color: #999999;
}

.markdown > p > a {
  text-decoration: #b2b2b2 underline 1px;
  text-underline-position: under;
  color: #000;
  cursor: pointer;
}
.markdown > p > a:hover {
  transition: all 0.7s;
  text-decoration: #000 underline 1px;
}
.markdown > h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 80px;
  color: #b2b2b2;
}

@media screen and (max-width: 600px) {
  body {
    /* width: 300px; */
    width: fit-content;
    block-size: fit-content;
    /* height: auto; */
  }

  .markdown > h1 {
    font-size: 30px;
    margin-left: -70px;
  }
  .markdown > p {
    /* width: fit-content;
    block-size: fit-content; */
    font-size: 1rem;
    margin-left: -70px;
  }
  .markdown > h2 {
    font-size: 1rem;
    margin-left: -70px;
    margin-bottom: 15px;
  }
}
