.project-md {
  margin-top: 50px;
  margin-left: 400px;
  width: 700px;
  font-family: "Inter";
}
.project-md > h3 {
  margin-top: 20px;
}
.project-md > h2 {
  margin-top: 20px;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 200;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.blog-md {
  margin-top: 50px;
  margin-left: 400px;
  width: 400px;
  font-family: "Inter";
}
.projects > h1 {
  margin-top: 40px;
}

.blog-md > h1 {
  margin-top: 40px;
}
.projects > p {
  margin-top: 10px;
  font-style: italic;
  color: #999999;
}
.projects > a {
  height: 100px;
  margin-top: 40px;
  margin-left: -16px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #999999;
}
.projects > a > img {
  margin-right: 20px;
  margin-left: 20px;
  opacity: calc(70%);
}
.projects > a:hover {
  background: whitesmoke;
  color: #000;
  transition: all 0.8s;
}
.projects > h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 10px;
  color: #b2b2b2;
}
.projects > h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  margin-top: 40px;
}

.blog-md > h3 {
  margin-top: 30px;
  font-size: 7rem;
  color: #99999956;
  margin-left: -50px;
}
.first-blog > a {
  margin-top: -65px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  font-weight: 500;
  color: #111111a1;
}
.blogs > a {
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  font-weight: 500;
  color: #111111a1;
}

.blog-md a:hover {
  color: #000;
  transition: all 1.2s;
}

@media screen and (max-width: 600px) {
  .project-md,
  .blog-md {
    margin: 10px;
    width: 350px;
  }
  .project-md > a {
    margin-left: 16px;
    height: 100px;
    font-size: 15px;
  }
  .project-md > p {
    margin-left: 5px;
  }
  .project-md > h1 {
    font-size: 25px;
    margin-left: 5px;
  }
  .blog-md > h1 {
    font-size: 25px;
    margin-left: 30px;
  }
  .project-md,
  .blog-md > p {
    margin-left: 30px;
  }
  .project-md > h2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 30px;
    color: #b2b2b2;
  }
  .blog-md > h2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 50px;
    color: #b2b2b2;
  }
  .project-md > h3 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000;
    margin-left: 5px;
  }

  .blog-md > h3 {
    margin-left: -10px;
    margin-top: 30px;
    font-size: 7rem;
    color: #99999956;
  }
  .first-blog > a {
    margin-left: 30px;
    margin-top: -65px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    line-height: 20px;
    font-weight: 500;
    color: #111111a1;
  }
  .blogs > a {
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    line-height: 20px;
    font-weight: 500;
    color: #111111a1;
  }

  .blog-md a:hover {
    color: #000;
    transition: all 1.2s;
  }
}
