.project-md {
  margin-top: 50px;
  margin-left: 400px;
  width: 400px;
  font-family: "Inter", sans-serif;
}
.project-md > h1 {
  margin-top: 40px;
}
.project-md > p {
  margin-top: 10px;
  font-style: italic;
  color: #999999;
}
.project-md > a {
  height: 100px;
  margin-top: 40px;
  margin-left: -16px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #999999;
}
.project-md > a > img {
  margin-right: 20px;
  margin-left: 20px;
  opacity: calc(70%);
}
.project-md a:hover {
  background: whitesmoke;
  color: #000;
  transition: all 0.8s;
}
.project-md > h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 10px;
  color: #b2b2b2;
}

@media screen and (max-width: 600px) {
  .project-md {
    margin: 10px;
    width: 350px;
  }
  .project-md > a {
    margin-left: 16px;
    height: 100px;
    font-size: 20px;
  }
  .project-md > h1 {
    margin-left: 30px;
  }
  .project-md > p {
    margin-left: 30px;
  }
  .project-md > h2 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 40px;
    color: #b2b2b2;
  }
}
