.header {
  display: flex;
  float: right;
  margin-top: -55px;
  align-items: center;
  justify-content: space-between;
}
.sticky {
  width: 200px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 10px;
}
.me-icon {
  cursor: pointer;
}
.me-icon > svg {
  width: 70px;
  height: 70px;
  margin-left: 30px;
}
.other {
  display: flex;
  align-items: center;
  margin-right: -50px;
}
.other > a {
  font-size: 1.125rem;
  margin: 10px;
  font-weight: 500;

  color: #999999;
  cursor: pointer;
}
.other a:hover {
  opacity: calc(100%);
  transition: all 0.7s;
  color: #000;
}
.icon-hide-pc {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: -65px;
  }
  .me-icon > svg {
    margin-left: 20px;
  }

  .icon-hide-mb {
    display: none;
  }
  .icon-hide-pc {
    display: block;
  }
  .sticky {
    position: inherit;
  }
}
