.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.me-icon {
  cursor: pointer;
}
.me-icon > svg {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}
.other {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.other > a {
  margin: 10px;
  font-weight: 600;
  opacity: calc(50%);
  cursor: pointer;
}
.other a:hover {
  opacity: calc(100%);
  transition: all 0.7s;
  color: #222;
}
